<form class="{{cssClass}} flexcol" autocomplete="off">
    <section class="sheet-body">
        <div class="bo-resources-holder">
            <div class="bo-resource bo-prompt-text" style="width: 15rem !important">
                <h4 style="margin: 0">Choose any status effects to burst.</h4>
            </div>
            {{#if sinkingAvailable}}
            <div class="bo-resource">
                <div class="bo-div">
                    <input type="checkbox" class="burst-input" data-id="Sinking" />
                    <img src="systems/pmttrpg/assets/status/Sinking.png" class="bo-statusIcon" title="Sinking" />
                    <h4 class="bo-statusText">Sinking</h4>
                </div>
            </div>
            {{/if}}

            {{#if tremorAvailable}}
            <div class="bo-resource">
                <div class="bo-div">
                    <input type="checkbox" class="burst-input" data-id="Tremor" />
                    <img src="systems/pmttrpg/assets/status/Tremor.png" class="bo-statusIcon" title="Tremor" />
                    <h4 class="bo-statusText">Tremor</h4>
                </div>
            </div>
            {{/if}}

            {{#if ruptureAvailable}}
            <div class="bo-resource">
                <div class="bo-div">
                    <input type="checkbox" class="burst-input" data-id="Rupture" />
                    <img src="systems/pmttrpg/assets/status/Rupture.png" class="bo-statusIcon" title="Rupture" />
                    <h4 class="bo-statusText">Rupture</h4>
                </div>
            </div>
            {{/if}}
        </div>
            </div>
        </div>
    </section>
</form>

<script>
    function setCursorRight() {
        const input = document.activeElement;
        const length = input.value.length;
        input.setSelectionRange(length, length);
    }

    function toggleID(element) {
        document.getElementById(element).classList.toggle("bo-show");
    }


    function unfocus(event) {
        if (event.key == "Enter") {
            const input = document.activeElement;
            input.blur()
        }
    }
</script>

<style>
    .bo-statusIcon {
        width: 2rem;
        height: 2rem;
        border: none;
    }

    .bo-statusText {
        text-align: center;
        margin: 0;
        align-self: center;
    }

    .burst-input {
        align-self: center;
    }

    .bo-div {
        display: flex;
    }
    
    .bo-clashDescription {
        overflow-y: scroll;
        width: 100%;
        padding: 0 2% !important;
        text-wrap-mode: wrap;
    }

    .bo-statblock-container {
        padding: 2% !important;
        columns: 2;
        display: flex;
        gap: 0.5rem;
    }

    .bo-rollInfo {
        height: 9rem;
        width: 8rem;
        padding: 2% !important;
    }

    .bo-drp-selection {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
    }

    .bo-drp-img {
        border: none;
        width: 2rem;
        height: 2rem;
    }

    .bo-resource {
        background-color: cadetblue;
        border: 2px solid black;
        border-radius: 1px;
        align-items: center;
        gap: 0.5rem;
        padding: 5%;
        position: relative;
        display: flex;
        height: 2rem;
        width: 10rem;
    }

    .bo-resource-input {
        background-color: slategray;
        border: 1px solid silver;
        text-align: center;
        width: 4rem;
    }

    .bo-nop {
        pointer-events: none;
    }

    .bo-resource-content {
        display: flexbox;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        grid: 1 / span 3;
        gap: 0;
        margin: auto;
    }

    .bo-resource-divider {
        text-align: center;
    }

    .bo-resource-icon {
        width: 50px;
        height: 50px;
        border: none;
        margin: auto;
        padding: 10%;
    }

    .bo-text-field {
        width: 15rem;
        text-align: center;
    }

    .bo-prompt-text {
        font-size: 16px;
        font-weight: bold;
    }

    .bo-resources-holder {
        background-color: #1d1b22;
        border: 2px solid slategray;
        padding: 2%;
        width: 100%;
        height: 15rem;
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bo-padding-t2 {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .bo-padding-0 {
        padding: 0;
    }

    .bo-dropbtn {
        background-color: cadetblue;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-align: center;
        justify-content: center;
        width: 9rem;
        height: 2rem;
        line-height: 0;
        text-wrap-mode: nowrap;
        display: flex;
    }

    .bo-dropbtn-small {
        width: 3rem;
        height: 2rem;
        line-height: 0;
    }

    .bo-dropbtn:hover,
    .bo-dropbtn:focus {
        background-color: slategray;
    }

    .bo-dropdown {
        position: relative;
        display: inline-block;
    }

    .bo-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        border: 1px solid #ddd;
        z-index: 1;
        max-height: 20rem;
        overflow-y: scroll;
        left: 10%;
    }

    .bo-dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .bo-drp-input:hover {
        background-color: #f1f1f1;
    }

    .bo-show {
        display: block;
    }

    .bo-drp-img {

    }
</style>