<form class='flexcol cr-form' autocomplete='off'>
    <section class="sheet-body cm-resources-holder flexcol">
        <div id="cm-subject" class="cm-resource cm-target-div">
            <h4 class="cm-target-text">For: {{subject}}</h4>
        </div>
        <div>
            <div class="cm-clashDescription cm-resource">
                {{{effectsData}}}
            </div>
        </div>
    </section>
</form>