<div class="tbb-statblock-container tbb-resources-holder">
    <div class="tbb-rollInfo flexcol tbb-resource">
        <div class="tbb-type-container">
            <div class="tbb-em-holder">
                <h1 class="tbb-header-text">Cost: {{totalCost}}</h1>
                <h1 class="tbb-header-text">Available Emotion: {{emotion}}</h1>
                {{#if techniqueTooExpensive}}
                <p class="tbb-expensive-text">Too Expensive! This technique will not be utilized unless you reduce the cost.</p>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="tbb-clashDescription tbb-resource">
        {{{enrichedClashData}}}
    </div>
</div>

<script>
    function toggleSB(element) {
        document.getElementById(element).classList.toggle("tbb-show");
    }
</script>

<style>
    .tbb-em-holder {
        display: flex !important;
        flex-direction: column;
        gap: 0.1rem !important;
        padding: 5%;
    }

    .tbb-expensive-text {
        border: none !important;
        color: red;
        font-size: 0.8rem;
        text-align: center;
    }

    .tbb-header-text {
        border: none !important;
        font-size: 1.25rem;
        margin: 0;
        text-align: center;
    }

    .tbb-stats-grid {
        display: grid;
        columns: 2;
    }

    .tbb-resource-icon-noEdit {
        padding: 0% !important;
        background: none !important;
    }

    .tbb-roll-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .tbb-roll-icon {
        background: none;
        border: none;
        width: 2.5rem;
        height: 2.5rem;
    }

    .tbb-resource-button-noEdit {
        background: none !important;
        border: none !important;
        width: 3rem !important;
    }

    .tbb-dropdown-holder {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .tbb-rollDisplay {
        font-size: 20px;
        text-align: center;
    }

    .tbb-attack-type-button {
        width: 5rem;
        height: 2.5rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        justify-items: middle;
        display: flex;
        padding: 2%;
        font-size: 16px;
        font-weight: bold;
    }

    .tbb-type-container {
        display: grid;
        columns: 1;
        gap: 1rem;
        align-content: center;
        align-items: center;
        justify-items: center;
    }

    .tbb-dropdownIcon {
        margin: 0px !important;
        padding: 10% !important;
    }

    .tbb-resource-button {
        background-color: slategray;
        border: 1px solid gray;
        text-align: center;
    }

    .tbb-resource-button:hover {
        background: rgb(147, 161, 175);
    }

    .tbb-clashDescription {
        overflow-y: scroll;
        width: 100%;
        padding: 2% 2% !important;
        text-wrap-mode: wrap;
        display: block !important;
    }

    .tbb-statblock-container {
        padding: 2% !important;
        columns: 2;
        display: flex;
        gap: 0.5rem;
    }

    .tbb-rollInfo {
        height: 10rem;
        width: 14rem;
        padding: 2% 1% !important;
        columns: 1;
        display: flex !important;
        gap: 0rem !important;
        justify-content: center;
    }

    .tbb-resource {
        background-color: cadetblue;
        border-radius: 1px;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 0.5rem;
        padding: 5%;
    }

    .tbb-resource-input {
        background-color: slategray;
        border: 1px solid silver;
        text-align: center;
        width: 4rem;
    }

    .tbb-nop {
        pointer-events: none;
    }

    .tbb-resource-content {
        display: flexbox;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        grid: 1 / span 3;
        gap: 0;
        margin: auto;
    }

    .tbb-resource-divider {
        text-align: center;
    }

    .tbb-resource-icon {
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        margin: auto;
        padding: 0%;
        background: none;
    }

    .tbb-resources-holder {
        background-color: #1d1b22;
        border: 2px solid slategray;
        padding: 2%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .tbb-padding-t2 {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .tbb-padding-0 {
        padding: 0;
    }

    .tbb-dropbtn {
        background-color: cadetblue;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-align: center;
        justify-content: center;
        width: 9rem;
        height: 2rem;
        line-height: 0;
        text-wrap-mode: nowrap;
    }

    .tbb-dropbtn-small {
        width: 3rem;
        height: 2rem;
        line-height: 0;
    }

    .tbb-dropbtn:hover,
    .tbb-dropbtn:focus {
        background-color: slategray;
    }

    .tbb-dropdown {
        position: relative;
        display: inline-block;
    }

    .tbb-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        border: 1px solid #ddd;
        z-index: 1;
        max-height: 20rem;
    }

    .tbb-dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .tbb-dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .tbb-show {
        display: block !important;
    }
</style>